@model AIA.Life.Models.UserManagement.ChangePassword
@using CaptchaMvc.HtmlHelpers
@using reCAPTCHA.MVC
@{
    string CaptchaError = Convert.ToString(Model.IsCaptchaError);
}
<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<style>    .clearfix {
        clear:both;
    }
</style>
<div id="forgotPwdContainer">

    @using (Ajax.BeginForm("", "", new AjaxOptions
    {
        HttpMethod = "Post",

    }, new { @id = "frmForgotPassword", @class = "form-group" }))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#collapse1" href="#collapseone" class="collapsed">
                        Forgot Password
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse in">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                            <div class="form-group">
                                <label>User ID<span class="mandatory"> *</span></label>
                                @(Html.TextBoxFor(a => a.userName, new { @class = "form-control", @id = "txtUserName" }))
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                            <div class="form-group">
                                <input type="button" id="btnsubmitlogin" value="Submit" class="btn btn-default" onclick="ValidateUser()" style="width:100px;margin-top:22px;margin-left:-68px" />
                                </div>
                            </div>
                            </div>
                            @*<div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label  text-right">Email</label>
                     <div class="col-lg-7 col-sm-7">
                       @(Html.TextBoxFor(a => a.emailID, new { @class = "form-control", @id = "txtEmailID" }))
                    </div>
                </div>
                    </div>*@

                            <div class="col-lg-12 col-sm-12 form-group" style="display:none;text-align:center" id="divOptions">
                                <div style="text-align:left">
                                    <br />
                                    <h4><b>Reset Password by</b></h4>
                                    <br />
                                </div>
                                <div>If there is any problem in Password reset please contact AVO support </div>

                                <label class="col-lg-4 col-sm-4 control-label"></label>
                                <div class="col-lg-7 col-sm-7 radio-inline" style="top: 3px;">
                                    <div class="col-lg-3 col-sm-6">@(Html.RadioButtonFor(a => a.OTPOrAnswer, true, new { @id = "btnOTP", @class = "", @onclick = "GenerateOTP()" })) Generate OTP</div>

                                    <div class="col-lg-3 col-sm-6">@(Html.RadioButtonFor(a => a.OTPOrAnswer, false, new { @id = "btnQuestion", @class = "", @onclick = "AnswerQuestion()" }))Answer Security Question</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="mainDiv" style="display:none;text-align:center;margin-top:20px">
                                <div class="clearfix"></div>
                                <div>
                                    <div id="divSecurityQuestions">
                                        <div class="col-lg-12 col-sm-12 form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4"></div>
                                            <div class="col-lg-4 col-sm-6">
                                                <label class="col-lg-5 col-sm-5  control-label text-right">Secret Question<span class="mandatory"> *</span></label>
                                                <div class="col-lg-7 col-sm-7">
                                                    @Html.DropDownListFor(a => a.hintQuetn, new SelectList(Model.secretQuestions, "ID", "Value"), "Select Secret Question", new { @id = "ddlhintQuestn", @class = "form-control", @onblur = "validateDropDown('ddlhintQuestn','Please Select Secret Question')" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4"></div>
                                            <div class="col-lg-4 col-sm-6">
                                                <label class="col-lg-5 col-sm-5  control-label text-right">Secret Answer<span class="mandatory"> *</span></label>
                                                <div class="col-lg-7 col-sm-7">
                                                    @(Html.TextBoxFor(a => a.hintAns, new { @class = "form-control", @id = "txthintans" }))
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="divOTP" style="display:none">
                                        <div class="col-lg-12 col-sm-12 form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4"></div>
                                            <div class="col-lg-8 col-sm-6">

                                                <label class="col-lg-7 col-sm-7">
                                                    Enter 4-digit code which has been sent to your registered mobile number
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12 form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4"></div>
                                            <div class="col-lg-3 col-sm-6">

                                                @(Html.TextBoxFor(a => a.OTP, new { @class = "form-control", @id = "txtOTP" }))

                                            </div>

                                        </div>
                                        <div class="col-lg-12 col-sm-12 form-group">
                                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4"></div>
                                            <div class="col-lg-4 col-sm-6">

                                                <div class="col-lg-7 col-sm-7">
                                                    <input type="button" id="btnResend" value="Resend OTP" class="btn btn-default" onclick="ResendOTP()" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12  col-lg-12 form-group" style="text-align: center;margin-top:30px;display:block">
                                    <div class="g-recaptcha" data-sitekey=@System.Configuration.ConfigurationManager.AppSettings["ReCaptchaPublicKey"] style="text-align: center;margin-left:400px;display:block"> </div>
                                    @Html.ValidationMessage("ReCaptcha")
                                    @*<label>Captcha<span class="mandatory"> *</span></label>
                                    @(Html.Captcha("Refresh", "Captcha Letters are Case Sensitive", 5, "Is required field.", false))*@
                                </div>
                                <div class="col-md-12 col-sm-12  col-lg-12 form-group" style="text-align: center;margin-top:30px;display:block">
                                    <input type="button" id="btnsubmit" value="Submit" class="btn btn-default" onclick="ForgotPassword()" />
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    }
</div>

<div id="resetPassModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body" id="resetPassModelBody">
                Password successfully reseted. Please check your email. Click OK to log in using new credentials.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="javascript:window.location.href = '../../Account/LogOff'">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
         if ('@CaptchaError'== "True")
    {
           $("#divOptions").show();
        $("#btnsubmitlogin").hide();
        $("#mainDiv").show();
        if ($("#btnOTP")[0].checked == true) {
            $("#divOTP").show();
            $("#divSecurityQuestions").hide();
        }
        ForgotPassword();
        writeMultipleMessage("error", 'please Input correct Captcha', "CaptchaInputText");
    }
    });
    function ForgotPassword() {

        var result;
        var v = grecaptcha.getResponse();
        if (v.length == 0) {
            writeMultipleMessage("error", "reCaptcha is Required", "grecaptcha")
            return false;
        }
        writeMultipleMessage("error", "", "grecaptcha")
        if ($("#btnOTP")[0].checked == true) {
            if ($("#txtOTP").val() == "" && $("#txtOTP").val() != null && $("#txtOTP").val() != undefined) {
                writeMultipleMessage("error", 'please provide OTP', "txtOTP");
                result = false;
                return false;
            }
            else {
                writeMultipleMessage("error", '', "txtOTP");
                result = true;
            }
        }
        else {
            if ($("#txtUserName").val() == "" && $("#txtUserName").val() != null && $("#txtUserName").val() != undefined) {
                writeMultipleMessage("error", 'please provide User Name', "txtUserName");
                result = false;
                return false;
            }
            else {
                writeMultipleMessage("error", '', "txtUserName");
                result = true;
            }
            result = validateDropDown('ddlhintQuestn', 'Please Select Secret Question');
            if (result) {
                writeMultipleMessage("error", '', "ddlhintQuestn");
                if ($("#txthintans").val() == "" && $("#txthintans").val() != null && $("#txthintans").val() != undefined) {
                    writeMultipleMessage("error", 'please provide Secret Answer', "txthintans");
                    result = false;
                    return false;
                }
                else {
                    writeMultipleMessage("error", '', "txthintans");
                    result = true;
                }
            }
            else {
                result = false;
                return false;
            }
        }
        if ($("#CaptchaInputText").val() == "" && $("#CaptchaInputText").val() != null && $("#CaptchaInputText").val() != undefined) {
            writeMultipleMessage("error", 'please provide Captcha', "CaptchaInputText");
            result = false;
            return false;
        }
        else {

                writeMultipleMessage("error", '', "CaptchaInputText");
                result = true;
        }
        if (result) {

            $.post("../../UserManagement/ResetForgotPasswordOnSuccess", $("#frmForgotPassword").serialize()).done(function (data) {

                if (data == "true") {
                    $('#frmForgotPassword').attr('action', 'ResetForgotUserPassword');
                    document.forms["frmForgotPassword"].submit();
                }
                else if (data == "Insufficient privileges to Reset password.") {
                    writeMultipleMessage("error", "Insufficient privileges to Reset password.", "password");
                }
                else {
                    writeMultipleMessage("error", "Unable to reset the password." + data, "password");
                }
            }).fail(function (data) {
                writeMultipleMessage("error", "Something wrong happened", "password");
            });
        }
    }
    function ValidateUser() {
        var result;
        if ($("#txtUserName").val() == "" && $("#txtUserName").val() != null && $("#txtUserName").val() != undefined) {
            writeMultipleMessage("error", 'please provide User Name', "txtUserName");
            result = false;
            return false;
        }
        else {
            writeMultipleMessage("error", '', "txtUserName");
            result = true;
        }
        if (result) {
            var user = $("#txtUserName").val();
            $.post("../../UserManagement/ValidateUser", $("#frmForgotPassword").serialize()).done(function (data) {
                if (data == "Error") {
                    writeMultipleMessage("error", "Please input valid Login Name", "txtUserName");
                }
                else {
                    $("#divOptions").show();
                    $("#btnsubmitlogin").hide();
                    $("#mainDiv").show();
                }
            }).fail(function (data) {
                writeMultipleMessage("error", "Something wrong happened", "password");
            });
        }
    }
    function AnswerQuestion() {
        $("#mainDiv").show();
        $("#divSecurityQuestions").show();
        $("#divOTP").hide();
        writeMultipleMessage("error", "", "txtOTP");
    }
    function GenerateOTP() {
        $("#mainDiv").show();
        $("#divOTP").show();
        $("#divSecurityQuestions").hide();
        writeMultipleMessage("error", '', "txthintans");
        writeMultipleMessage("error", '', "ddlhintQuestn");
        var UserName = $("#txtUserName").val();
        $.ajax({
            url: "../../UserManagement/GenerateRandomOTP",
            type: "POST",
            data: { UserName: UserName },
            beforeSend: function () { /* do nothing */ },
            success: function (data) {

                if (data == "True") {

                }
                else if (data == "Insufficient privileges to Reset password.") {
                    writeMultipleMessage("error", "Insufficient privileges to Reset password.", "txtOTP");
                }
                else {
                    writeMultipleMessage("error", "Unable to reset the password." + data, "txtOTP");
                }
            },
            complete: function () { /* do nothing */ }
        });

    }
    function ResendOTP() {
        $("#mainDiv").show();
        $("#divOTP").show();
        $("#divSecurityQuestions").hide();
        var UserName = $("#txtUserName").val();
        $.ajax({
            url: "../../UserManagement/ResendOTP",
            type: "POST",
            data: { UserName: UserName },
            beforeSend: function () { /* do nothing */ },
            success: function (data) {
                if (data == "True") {

                }
                else {
                    writeMultipleMessage("error", "Unable to resend. Please retry", "txtOTP");
                }
            },
            complete: function () { /* do nothing */ }
        });

    }
</script>
<style type="text/css">
    #forgotPwdContainer {
        margin: 0px auto;
        width: 90%;
    }
</style>