@model AIA.Life.Models.UserManagement.ImdLoginAuthentication
@using CaptchaMvc.HtmlHelpers
@using (Ajax.BeginForm("", "", new AjaxOptions
    {
        HttpMethod = "Post",

    }, new { @id = "IMDResetPassword", @class = "form-group" }))
{     
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse1" href="#collapseone" class="collapsed">Reset Password
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label  text-right">User ID</label>
                     <div class="col-lg-7 col-sm-7">
                       @(Html.TextBoxFor(a => a.userID, new { @class = "form-control", @id = "txtUserId" }))
                    </div>
                </div>
                    </div>
                <div class="col-lg-12 col-sm-12 form-group">
                    <div class="input-append date" id="dob"data-date-format="dd-mm-yyyy">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label text-right">
                      Date Of Birth</label>
                    <div class="col-lg-7 col-sm-7 ">
                         @Html.iNubeDatePickerFor(a =>a.DateOfBirth,  new { @class = "form-control ",@id="dob"})
                    </div>
                </div>
          </div> 
                
                    </div>
                <div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label text-right">Hint Question</label>
                    <div class="col-lg-7 col-sm-7">
                       @Html.DropDownListFor(a => a.hintQuetn, Enumerable.Empty<SelectListItem>(), new { @id = "ddlhintQuestn", @class = "form-control" })
                </div>
                </div>
                    </div>
                <div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label text-right">Hint Answer</label>
                    <div class="col-lg-7 col-sm-7">
                       @(Html.TextBoxFor(a => a.hintAns, new { @class = "form-control", @id = "txthintans" }))
                    </div>
                </div>
                    </div>
                <div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label text-right">Mobile Number</label>
                    <div class="col-lg-7 col-sm-7">
                       @(Html.TextBoxFor(a => a.mobileno, new { @class = "form-control", @id = "txtmob" }))
                    </div>
                </div>
                    </div>
                 
                <div class="col-lg-12 col-sm-12 form-group">
                <div class="col-lg-4 col-sm-6">
                    <label class="col-lg-5 col-sm-5  control-label  text-right">Captcha</label>
                    <div class="col-lg-7 col-sm-7">
                     
                       @(Html.Captcha("Refresh", "Captcha Letters are Case Sensitive", 5, "Is required field.", false))
                    </div>
                </div>
            </div>
                 
                  
               
            
                <div class="col-lg-2 col-sm-2"></div>
                     <input type="button" id="btnsubmit"  value="Submit" 
                        class="btn btn-default" />
                
          
            </div>
        </div>
        </div>
}