@model AIA.Life.Models.Policy.Policy
@using AIA.Presentation.Helpers
@using AIAResources;
@using System.Globalization;
@{

    int Index = Model.AssuredIndex;
    string PanleID = "DivPanelBenefits" + Index;
    string PanleNavigatorheader = "#PanelBenefits" + Index;
    string PanleNavigator = "PanelBenefits" + Index;
    int count = 1, tabCount = 1;
    if (Model.ListAssured != null && Model.ListAssured.Count() > 0)
    {
        //int MemberIndex = Model.ListAssured[Model.AssuredIndex].Length;
       int  MemberIndex = Model.ListAssured.Count();
    }

    int GlobalCount = 0;

}



@*Panel Benefit Details*@
@*<div class="panel panel-default" id=@PanleID>*@
@*<div class="panel-heading backgroundclr" role="tab">
        <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href=@PanleNavigatorheader aria-expanded="false" aria-controls="collapseTwo">
                <i class="more-less glyphicon glyphicon-plus"></i>
                @Resources.GetLabelName("Benefit and Premium Details")

            </a>
        </h4>
    </div>*@
@*<div id=@PanleNavigator class="panel-collapse" role="tabpanel" aria-labelledby=@PanleID>
    <div class="panel-body">*@


<ul class="nav nav-pills">
    @foreach (var item in Model.ListAssured)
    {
        string TabId = Convert.ToString(count) + Model.AssuredIndex;

        if (item != null)
        {
            if (count == 1)
            {
                
                    <li class="active width">
                        <a data-toggle="pill" href="#tab_6_@TabId">@Resources.GetLabelName(item)</a>
                    </li>
                
            }
            else
            {
                
                    <li class="width">
                        <a data-toggle="pill" href="#tab_6_@TabId">@Resources.GetLabelName(item)</a>
                    </li>

            }
        }

        count++;
    }


</ul>
<div class="tab-content">
    @foreach (var benifit in Model.objMemberDetails.ToList())
    {
        string TabId = Convert.ToString(tabCount) + Model.AssuredIndex;
        if (tabCount == 1)
        {
            <div class="tab-pane fade in active" id="tab_6_@TabId">
                <div id="DivBenefitDetails_@TabId">
                    <div style="display:none;">@(Model.SelectedPolicy = GlobalCount)</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-weight: bold;text-align:center;width:30%;">Select Your Benifits</th>
                                    <th style="font-weight: bold;text-align:center;width:20%;">Sum Assured (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:15%;">Premium (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:15%;">Loading (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:20%;">Total Premium (Dh)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < benifit.objBenifitDetails.Count(); i++)
                                {
                                    <tr id="tab_6_@TabId">

                                        <td>
                                            @benifit.objBenifitDetails[i].BenifitName
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenifitName, new { })
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenefitID)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].MemberBenifitID)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].AssuredMember)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].RiderPremium)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].LoadingPercentage )
                                        </td>
                                        <td style="height:50px;text-align:center">

                                            @if (benifit.objBenifitDetails[i].BenifitName == "Waiver of Premium"  || benifit.objBenifitDetails[i].BenifitName == "Premium Protection Benefit for 4 Pay" || benifit.objBenifitDetails[i].BenifitName == "Premium Protection Benefit for 6 Pay")
                                            {
                                                @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].RiderSuminsured, new { @Value = Model.LstBenifitDetails[GlobalCount].RiderSuminsured })
                                                @*@Html.HiddenFor(m => m.objMemberDetails[Index].objBenifitDetails[i].RiderSuminsured, new { @Value = Model.objMemberDetails[Index].objBenifitDetails[i].RiderSuminsured })*@
                                            }
                                            else
                                            {
                                                <div>
                                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].RiderSuminsured))
                                                </div>
                                            }

                                            @*@benifit.objBenifitDetails[i].RiderSuminsured*@
                                            @*@Html.TextBoxFor(m => m.objMemberDetails[GlobalCount].objBenifitDetails[i].RiderSuminsured, new { @readonly = "readonly", @class = "form-control" })*@
                                        </td>
                                        <td>
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].ActualRiderPremium))
                                            @*@benifit.objBenifitDetails[i].RiderPremium*@
                                            @*@Html.TextBoxFor(m => m.objMemberDetails[GlobalCount].objBenifitDetails[i].RiderPremium, new { @readonly = "readonly", @class = "form-control" })*@
                                        </td>
                                        <td>
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].LoadingAmount))
                                        </td>
                                        <td>
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].RiderPremium))
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="tab-pane" id="tab_6_@TabId">
                <div id="DivBenefitDetails_@TabId">
                    <div style="display:none;">@(Model.SelectedPolicy = GlobalCount)</div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-weight: bold;text-align:center;width:30%;">Select Your Benifits</th>
                                    <th style="font-weight: bold;text-align:center;width:20%;">Sum Assured (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:15%;">Premium (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:15%;">Loading (Dh)</th>
                                    <th style="font-weight: bold;text-align:center;width:20%;">Total Premium (Dh)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < benifit.objBenifitDetails.Count(); i++)
                                {
                                    <tr id="tab_6_@TabId">

                                        <td>
                                            @benifit.objBenifitDetails[i].BenifitName
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenifitName, new { })
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenefitID)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].MemberBenifitID)
                                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].AssuredMember)
                                          
                                        </td>
                                        <td style="height:50px;text-align:center">
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}",Convert.ToInt64(benifit.objBenifitDetails[i].RiderSuminsured))
                                            @*@Html.TextBoxFor(m => m.objMemberDetails[GlobalCount].objBenifitDetails[i].RiderSuminsured, new { @readonly = "readonly", @class = "form-control" })*@

                                        </td>
                                        <td>
                                            @*@benifit.objBenifitDetails[i].RiderPremium*@
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].ActualRiderPremium))
                                            @*@Html.TextBoxFor(m => m.objMemberDetails[GlobalCount].objBenifitDetails[i].RiderPremium, new { @readonly = "readonly", @class = "form-control" })*@
                                        </td>
                                        <td>
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].LoadingAmount))
                                        </td>
                                        <td>
                                            @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(benifit.objBenifitDetails[i].RiderPremium))
                                        </td>

                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
        GlobalCount++;
        tabCount++;
    }

</div>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 form-group payablebtn-space" id="DivPremiumSection">
    <div class="col-md-6 col-sm-4 col-xs-12 col-lg-4 fna-final-count">
        <label class="fna-final-text">
            @Resources.GetLabelName("Payable Premium") (LKR)
        </label>
        @if (Model.AdditionalPremium != 0)
        {
            @(Html.ReadCurrencyTextBoxFor(a => a.ProposalPayablePremium, new { id = "txtProposalPayablePremium" + Model.SelectedPolicy, @class = "form-control", @readonly = "readonly", @style = "width:100%;text-align: center;font-size: xx-large;font-weight: bold;height: 10%;background-color: #e1e1e1;border-color: #E1E1E1;" }, Model.ProposalPayablePremium))
            @Html.HiddenFor(a => a.AnnualPremium, new { @id = "hdnAnnualPremium" })
        }
        else
        {
            @(Html.ReadCurrencyTextBoxFor(a => a.AnnualPremium, new { id = "txtAnnualPremium" + Model.SelectedPolicy, @class = "form-control", @readonly = "readonly", @style = "width:100%;text-align: center;font-size: xx-large;font-weight: bold;height: 10%;background-color: #e1e1e1;border-color: #E1E1E1;" }, Model.AnnualPremium))
            @Html.HiddenFor(a => a.AdditionalPremium, new { @id = "hdnAdditionalPremium" })
        }
        

    </div>
</div>
@*</div>
    </div>*@
@*</div>*@




<div class="modal fade" id="PremiumOvervieModel_@Index" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Premium Overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="PremiumOvervieModelbody_@Index">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var Premium = $('#txtAnnualPremium' + @Model.SelectedPolicy).val().split('.')[0];
        $('#txtAnnualPremium'+ @Model.SelectedPolicy).val(Premium);
        //$('#hdntxtAnnualPremium0').val(parseInt(Premium));
        //f1('txtAnnualPremium0');
    });
</script>


