@model AIA.Life.Models.Policy.Policy
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    int GlobalCount = 0;
}
<div class="table-responsive" >
@if (Model.ListAssured != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="font-weight: bold">@Resources.GetLabelName("Select Your Riders")</th>
                
                @foreach (var item in Model.ListAssured)
                {
                    <th style="font-weight: bold">@Resources.GetLabelName(item)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var benifit in Model.LstBenifitDetails.ToList())
            {
                <tr>
                    <td>
                        @benifit.BenifitName
                        @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenifitName, new { })
                        @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].BenefitID)
                        @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].MemberBenifitID)
                        @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].AssuredMember)

                    </td>
                    @for (int i = 0; i < benifit.objBenefitMemberRelationship.Count(); i++)
                    {
                        <td style="height:82px;text-align:center">
                            @Html.TextBoxFor(m => m.LstBenifitDetails[GlobalCount].objBenefitMemberRelationship[i].RiderSI, new { @readonly = "readonly", @class="form-control" })
                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].objBenefitMemberRelationship[i].Member_Relationship)
                            @Html.HiddenFor(m => m.LstBenifitDetails[GlobalCount].objBenefitMemberRelationship[i].Assured_Name)
                        </td>
                    }
                </tr>

                GlobalCount++;


            }
        </tbody>

    </table>
}
</div>