@model AIA.Life.Models.Policy.Policy
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    ViewBag.Title = "proposal1";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName = HttpContext.Current.User.Identity.Name;
    List<int?> lstPermissions = HelperMethods.GetPermissions(userName);
}

<style>
    .panel-default {
        /*border-color: #eee !important;*/
        margin-bottom: 5px;
    }

    .panel {
        background-color: #B8123E !important;
    }

    .block-content {
        background-color: #46b2b5;
        padding: 2em 1em;
        width: 200px;
        height: 150px;
        color: white;
        padding-top: 15px;
    }

    @@media screen and (min-width: 320px) and (max-width: 768px) {
        .navbar-collapse.collapse {
            display: block !important;
            margin-left: 20px;
        }

        .nav > li {
            display: inline-block;
        }

        .dashboard-stat .details {
            right: 20px;
        }
    }
</style>

@*<div class="panel panel-default">
        <div class="panel-body" style="color: white;
        font-weight: 600;">@Resources.GetLabelName("New Business - Proposal")</div>
    </div>*@


<div>

    <div class="btn-group btn-breadcrumb breadcrumb-default">

        <div class="visible-lg-block">
            @*<div class="btn btn-info btn-derecha">Reference Number</div>*@
        </div>
        <a href="/Home/AgentHome" class="btn visible-lg-block visible-md-block"><img src="/Content/Images/home-white.png" class="pull-left" style="height:25px;margin-right:10px;background-color: #B8123E;"></a>
         <div class="btn btn-info"><b>@Resources.GetLabelName("Proposal")</b></div>
    </div>
</div>

<br />

<div id="navContainer">
    <div class="collapse navbar-collapse Main-collapse" id="navbar-collapse-1">
        <div class="navbar-nav list" id="divNav">
            <ul class="nav navbar-nav">
                <li class="dropdown liClass" style="display:none">
                    <a href="#" class="dropdown-toggle dashboard-stat dashboard-stat-light green-soft"
                       data-toggle="dropdown" style="margin-right: 20px;" onclick="ShowProposalReAllocate()">
                        <div class="visual">
                            <i class="icon-share-alt">
                            </i>
                        </div>
                        <div class="details col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <div class="desc  col-md-12 col-sm-12 col-xs-12 col-lg-12" style="text-align:center;padding-left:25%;"><b>@Resources.GetLabelName("Allocate")</b></div>
                            @*<div class="number col-sm-4" style="padding-top: 0px">1</div>*@
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                            <img src="~/Images/Up-Arrow.png" style="height:20px;margin-left:38px;">
                            <i class=""></i>
                        </div>
                    </a>

                </li>
                @if (lstPermissions.Contains(25))
                {
                    <li class="dropdown liClass">
                        <a href="#" class="dropdown-toggle dashboard-stat dashboard-stat-light red-soft"
                           data-toggle="dropdown" style="margin-right: 20px;" onclick="ShowproposalIncomplete()">
                           
                                <img src="~/Content/Images/Incomplete Proposals1.png" />
                           
                                <p><b>@Resources.GetLabelName("Incomplete")</b></p>
                                @*<div class="number col-sm-4" style="padding-top: 0px">1</div>*@
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 count-of-created">
                                @ViewBag.ProposalCount
                            </div>
                        </a>
                    </li>
                }
                @if (lstPermissions.Contains(26))
                {

                    <li class="dropdown liClass">
                        <a href="#" class="dropdown-toggle dashboard-stat dashboard-stat-light blue-soft"
                           data-toggle="dropdown" style="margin-right: 20px;" onclick="showProposalSubmitted()">
                           
                                <img src="~/Content/Images/Submitted Proposals1.png" />
                         
                                <p><b>@Resources.GetLabelName("Submitted")</b></p>
                                @*<div class="number col-sm-4" style="padding-top: 0px">1</div>*@
                          
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 count-of-created">
                                @ViewBag.SubmittedProposals
                            </div>
                        </a>
                    </li>
                }
                @if (lstPermissions.Contains(27))
                {
                    <li class="dropdown liClass">
                        <a href="#" class="dropdown-toggle dashboard-stat dashboard-stat-light purple-soft"
                           data-toggle="dropdown" style="margin-right: 20px;" onclick="showProposalPendingRequirement()">
                            
                                <img src="~/Content/Images/Pending Requirements1.png" />
                           
                                <p><b>@Resources.GetLabelName("Pending Requirement")</b></p>
                                @*<div class="number col-sm-4" style="padding-top: 0px">1</div>*@
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 count-of-created">
                                @ViewBag.count
                            </div>
                        </a>
                    </li>
                }

            </ul>

        </div>
    </div>
</div>

<script>
    function ShowProposalReAllocate() {
        window.location.href = "/policy/ProposalReAllocate";
    }
    function ShowproposalIncomplete() {
        window.location.href = "/policy/proposalIncomplete";
    }

    function showProposalSubmitted() {
        window.location.href = "/policy/ProposalSubmitted";
    }
    function showProposalPendingRequirement() {
        window.location.href = "/policy/ProposalPendingRequirements";
    }

</script>

