@model  AIA.Life.Models.Opportunity.Prospect
@using AIA.Presentation.Helpers
@using AIAResources;
@using System.Globalization;
@{
    ViewBag.Title = "HealthCalcReport";
    Layout = null;
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>*@
<link rel="stylesheet" href="~/Content/Styles/BootSideMenu.css">
@*<script src="~/Content/Scripts/BootSideMenu.js"></script>*@
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.css" />*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.js"></script>*@
<script src="~/Content/Scripts/jspdf.min.js"></script>
<script src="~/Content/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
<link href="~/Content/Scripts/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/chosen.css" rel="stylesheet" />
<script src="~/Content/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/SuspectScript/Suspectscript.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@Html.HiddenFor(x => x.Salutation, new { @id = "txtSalutation" })
@Html.HiddenFor(x => x.LastName, new { @id = "txtLastName" })
@Html.HiddenFor(a => a.Name, new { @id = "txtName" })
@Html.HiddenFor(a => a.objAddress.Address1, new { @id = "txtAddress" })
@Html.HiddenFor(a => a.objAddress.State, new { @id = "txtState" })
@Html.HiddenFor(a => a.objAddress.District, new { @id = "txtDistrict" })
@Html.HiddenFor(a => a.objAddress.City, new { @id = "txtCity" })
<div class="clearfix"></div>
@*<head>
        <title>Health Fund Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>*@
@*<div>

        <img src="~/Content/Images/AIA Pdf image.jpg" style="width:1000px; margin-bottom:5px" />
    </div>*@
<body style="font-family: AIA Everest;">
    <table>
        <tbody>
            <tr>
                <td>
                    <table style="background-color: #c31433; width: 1349px; height: 200px;">
                        <tbody style="width: 810px; float: left; padding: 32px 0px 0px 40px;">
                            <tr>
                                <td>
                                    <img src="~/Content/Images/logo.jpg" />
                                </td>
                            </tr>
                        </tbody>

                        <tbody style="width: 526px; float: right; color: #fff; font-size: 18px; padding: 15px 0px;">
                            <tr>
                                <td>
                                    AIA Insurance Lanka PLC (Co. No. PQ 18)<br>
                                    AIA Tower P O Box 2088<br>
                                    92, Dharmapala Mawatha, Colombo 07<br>
                                    Sri Lanka<br>
                                    T: (+94 11) 231 0000 F:(+94 11) 244 7620<br>
                                    E: lk.info@aia.com<br><br>

                                    AIALIFE.COM.LK
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="text-align: center; font-size: 25px; font-weight: bold; padding: 10px; color: #000;">Financial Need Analysis of <label type="label" id="PDFName"> </label></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 0px auto;">
                        <tbody style="background-color: #e5f7fd;">

                            <!--1st Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px; ">Age at Next Birthday</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Wealth Planner Name</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Date/Time</td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px;font-weight: bold;">@Model.AgeNextBdy</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px;font-weight: bold;">@Model.CreatedBy</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px;font-weight: bold;"><label id="txtTime"></label></td>
                            </tr>

                            <!--2nd Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px; font-size: 20px;">WP Agent Code</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px; font-size: 20px;">WP Contact Number</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px; font-size: 20px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px; font-weight: bold;">@Model.WPCode</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px; font-weight: bold;">@Model.WPPhone</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-size: 20px; font-weight: bold;"></td>
                            </tr>

                            <!--3rd Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">From Year</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">To Year</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Inflation Rate(%)</td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold; font-size: 20px;">@Model.objNeedAnalysis.FNAFromYear</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold; font-size: 20px;">@Model.objNeedAnalysis.FNAToYear</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold; font-size: 20px;">@Model.objNeedAnalysis.FNAInflationRate <labek> Years</labek></td>
                            </tr>

                            <!--4th Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Plan No of Years</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Interest Rate(%)</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold; font-size: 20px;">@Model.objNeedAnalysis.FNAFromYear</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold; font-size: 20px;">@Model.objNeedAnalysis.FNAFromYear</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px; font-weight: bold;font-size: 20px;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 600px; float: left; margin-left: 68px; margin-top: 20px;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; background-color: #d11144; padding: 10px;font-size: 21px;font-weight: bold;">Protect your Wealth</td>
                            </tr>
                            <tr style="margin: 10px 0px;">
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold; font-size: 21px;">Current Assets</td>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold; text-align: right; padding-right: 30px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;"></td>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">Amount (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Land, Building & House</td>
                                @if (@Model.objNeedAnalysis.Assets0 != 0 || @Model.objNeedAnalysis.Assets0 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets0))
                                       
                                </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Fixed Deposit</td>
                                @if (@Model.objNeedAnalysis.Assets1 != 0 || @Model.objNeedAnalysis.Assets1 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets1))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Shares</td>
                                @if (@Model.objNeedAnalysis.Assets2 != 0 || @Model.objNeedAnalysis.Assets2 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets2))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Vehicles</td>
                                @if (@Model.objNeedAnalysis.Assets3 != 0 || @Model.objNeedAnalysis.Assets3 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                               @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets3))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Gold & Jewellery</td>
                                @if (@Model.objNeedAnalysis.Assets4 != 0 || @Model.objNeedAnalysis.Assets4 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets4))                                      
                                          
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 20px;">Other</td>
                                @if (@Model.objNeedAnalysis.Assets5 != 0 || @Model.objNeedAnalysis.Assets5 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Assets5))
                                        
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 20px 0px 0px 30px; font-weight: bold;font-size: 20px;">Total</td>
                                <td style="width: 250px; float: left; padding: 20px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.AssetsTotal))
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <table style="width: 300px; margin: 20px auto;">
                                        <tbody style="background-color: #d7d7d7; margin-top: 20px;">
                                            <tr>
                                                <td style="padding: 30px; text-align:center; font-size:18px; font-weight:bold;">Net Assets (LKR)<label style="margin-left: 10px;">
                                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.NetAssests))
                                                    
                                                    </label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 600px; float: left; margin-left: 30px; margin-top: 20px;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; padding: 10px; min-height: 45.71px"></td>
                            </tr>
                            <tr style="margin: 10px 0px;">
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold;font-size: 21px;">Current Liabilities</td>
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold; text-align: right; padding-right: 30px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;"></td>
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">Amount (LKR)</td>
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">Insured Amount (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Bank Loans</td>
                                @if (@Model.objNeedAnalysis.Liabilityone0 != 0 || @Model.objNeedAnalysis.Liabilityone0 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilityone0))
                                         
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;">---</td>
                                }
                                @if (@Model.objNeedAnalysis.Liabilitytwo0 != 0 || @Model.objNeedAnalysis.Liabilitytwo0 != null)
                                {
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilitytwo0))
                                </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px; font-size: 20px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Credit Card</td>
                                @if (@Model.objNeedAnalysis.Liabilityone1 != 0 || @Model.objNeedAnalysis.Liabilityone1 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilityone1))
                                        
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                                @if (@Model.objNeedAnalysis.Liabilitytwo1 != 0 || @Model.objNeedAnalysis.Liabilitytwo1 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilitytwo1))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Lease</td>
                                @if (@Model.objNeedAnalysis.Liabilityone2 != 0 || @Model.objNeedAnalysis.Liabilityone2 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilityone2))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                                @if (@Model.objNeedAnalysis.Liabilitytwo2 != 0 || @Model.objNeedAnalysis.Liabilitytwo2 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilitytwo2))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Others</td>
                                @if (@Model.objNeedAnalysis.Liabilityone3 != 0 || @Model.objNeedAnalysis.Liabilityone3 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilityone3))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                                @if (@Model.objNeedAnalysis.Liabilitytwo3 != 0 || @Model.objNeedAnalysis.Liabilitytwo3 != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Liabilitytwo3))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 60px 0px 0px 30px; font-weight: bold; font-size: 18px;font-size: 20px;">Total</td>
                               @if (@Model.objNeedAnalysis.objAssetsAndLiabilities.LiabilityTotal != 0 || @Model.objNeedAnalysis.objAssetsAndLiabilities.LiabilityTotal != null)
                               {
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.LiabilityTotal))
                                </td>
                               }
                               else
                               {
                                <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                               }
                                @if (@Model.objNeedAnalysis.objAssetsAndLiabilities.InsuredLiabilityTotal != 0 || @Model.objNeedAnalysis.objAssetsAndLiabilities.InsuredLiabilityTotal != null)
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.InsuredLiabilityTotal))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 200px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td>
                                    <table style="width: 270px; margin: 20px auto;">
                                        <tbody style="background-color: #d7d7d7; margin-top: 20px;">
                                            <tr>
                                                <td style="padding:30px; text-align:center; font-size:18px; font-weight:bold;">Fund Requirement For Asset Protection (LKR)<label style="margin-left: 10px;">
                                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.LumpsumRequirement))
                                                    </label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table style="width:600px; float: left; margin-left: 68px; margin-top: 20px;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 200px; display:flex; float: left; background-color: #d11144; padding: 10px;font-size: 21px;font-weight: bold">Protect your Income</td>
                            </tr>
                            <tr style="margin: 10px 0px;">
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold;font-size: 20px;">Annual Expense</td>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold; text-align: right; padding-right: 30px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;"></td>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">Amount (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Annual Expenses</td>
                                @if (@Model.objNeedAnalysis.Expense0 != 0 && @Model.objNeedAnalysis.Expense0 != null)
                                {
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Expense0))
                                </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Annual Vacation</td>
                                @if (@Model.objNeedAnalysis.Expense1 != 0 && @Model.objNeedAnalysis.Expense1 != null)
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Expense1))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Installments</td>
                                @if (@Model.objNeedAnalysis.Expense2 != 0 && @Model.objNeedAnalysis.Expense2 != null)
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Expense2))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 300px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Vehicles</td>
                                @if (@Model.objNeedAnalysis.Expense3 != 0 && @Model.objNeedAnalysis.Expense3 != null)
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Expense3))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>
                            <tr>
                                <td style="width: 270px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Loan Payment</td>
                                @if (@Model.objNeedAnalysis.Expense4 != 0 && @Model.objNeedAnalysis.Expense4 != null)
                                {
                                    <td style="width: 270px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Expense4))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>
                            <tr>
                                <td style="width: 300px; float: left; padding: 20px 0px 0px 30px; font-weight: bold; font-size: 18px;font-size: 20px;">Total</td>
                                @if (@Model.objNeedAnalysis.objFamilyIncome.TotalExpense != 0 && @Model.objNeedAnalysis.objFamilyIncome.TotalExpense != null)
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFamilyIncome.TotalExpense))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 300px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size: 20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    <table style="width:350px; margin: 20px auto;">
                                        <tbody style="background-color: #d7d7d7; margin-top: 20px;">
                                            <tr>
                                                
                                                <td style="padding:30px; text-align:center; font-size:20px; font-weight:bold;">Fund Requirement for Income Protection (LKR)<label style="margin-left: 10px;">
                                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFamilyIncome.IncomeLumpsumRequirement))
                                                    </label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width:600px; float: left; margin-left: 30px; margin-top: 20px;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; padding: 10px; min-height: 45.71px"></td>
                            </tr>
                            <tr style="margin: 10px 0px;">
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold;font-size:21px;">Current Annual Income</td>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-size: 18px; font-weight: bold; text-align: right; padding-right: 30px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;"></td>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">Amount (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size:20px;">Salary Or Income</td>
                                @if (@Model.objNeedAnalysis.Income0 != 0 && @Model.objNeedAnalysis.Income0 != null)
                                {
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Income0))
                                </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size:20px;">Interest</td>
                                @if (@Model.objNeedAnalysis.Income1 != 0 && @Model.objNeedAnalysis.Income1 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">
                                @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Income1))
                                        
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size:20px;">Rent</td>
                                @if (@Model.objNeedAnalysis.Income2 != 0 && @Model.objNeedAnalysis.Income2 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Income2))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 10px 0px 0px 30px;font-size:20px;">Other</td>
                                @if (@Model.objNeedAnalysis.Income3 != 0 && @Model.objNeedAnalysis.Income3 != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">
                                        @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.Income3))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">---</td>
                                }
                            </tr>

                            <tr>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>
                            </tr>
                            <tr>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>

                            </tr>

                            <tr>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>

                            </tr>

                            <tr>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>
                                <td style="width: 250px; min-height: 60px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;"></td>

                            </tr>

                            <tr>
                                <td style="width: 250px; float: left; padding: 20px 0px 0px 30px; font-weight: bold; font-size: 20px;">Total</td>
                                @if (@Model.objNeedAnalysis.objFamilyIncome.TotalIncome != 0 && @Model.objNeedAnalysis.objFamilyIncome.TotalIncome != null)
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">
                               @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFamilyIncome.TotalIncome))
                                    </td>
                                }
                                else
                                {
                                    <td style="width: 250px; float: left; padding: 10px 0px 0px 30px; font-weight: bold; text-align: right; padding-right: 30px;font-size:20px;">---</td>
                                }
                            </tr>
                         
                            <tr>
                                <td>
                                    <table style="width:250px; margin: 20px auto;">
                                        <tbody style="background-color: #d7d7d7; margin-top: 20px;">
                                            <tr>
                                                <td style="padding:30px; text-align:center; font-size:20px; font-weight:bold;">SurPlus/Deficit (LKR)<label style="margin-left: 10px;">
                                                     @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objAssetsAndLiabilities.SurPlusAssets))
                                                    </label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 20px auto;">
                        <tbody>

                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; background-color: #d11144; padding: 10px; margin-bottom: 10px;font-size:21px;font-weight: bold">Emergency Health Expense</td>
                            </tr>

                            <tr style="background-color: #c2c2c2; margin-top: 10px 0px;">
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;"></td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Current Requirement (LKR)</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Available Fund (LKR)</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Gap (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Reserves of Critical illness</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.CriticalIllnessRequirement))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.CriticalIllnessAvailable))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.CriticalIllnessGap))
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Reserves for Hospitalization</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.HospitalRequirement))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.HospitalAvailable))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.HospitalGap))
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Total</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalRequirement))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalRequirement))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalGap))
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Cash for additional expense/ Loss of income</td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.AdditionalRequirement))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.AdditionalAvailable))
                                </td>
                                <td style="width: 303px; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.AdditionalGap))
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <table style="width: 1214px; margin: 20px auto;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; background-color: #d11144; padding: 10px; margin-bottom: 10px;font-size:21px;font-weight: bold">Protect Your Dreams</td>
                            </tr>

                            <tr style="background-color: #c2c2c2; margin-top: 10px;">
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Future Financial Needs</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Beneficiary</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Current Requirement (LKR)</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Estimated Amount (LKR)</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Available Fund (LKR)</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Gap (LKR)</td>
                            </tr>
                            @if (Model.objNeedAnalysis.objFinancialNeeds != null && Model.objNeedAnalysis.objFinancialNeeds.Count > 0)
                            {
                                for (int i = 0; i < Model.objNeedAnalysis.objFinancialNeeds.Count; i++)
                                {
                            <tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">@Model.objNeedAnalysis.objFinancialNeeds[i].Name</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">@Model.objNeedAnalysis.objFinancialNeeds[i].Relationship</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeeds[i].CurrReq))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeeds[i].EstAmount))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeeds[i].FundBalance))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeeds[i].Gap))
                                </td>
                            </tr>
                                }
                            }
                            @*<tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Wedding</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Praven</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">1,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">3,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;">6,930</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;">5,720</td>
                            </tr>

                            <tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Pension Fund</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Praven</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">1,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">3,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;">6,930</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;">5,720</td>
                            </tr>

                            <tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Buy Car/Property</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Praven</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">1,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">3,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;">6,930</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;">5,720</td>
                            </tr>

                            <tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Other</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;">Praven</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">1,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;">3,210</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;">6,930</td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;">5,720</td>
                            </tr>*@

                            <tr>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px; font-weight:bold;">Total</td>
                                <td style="width: 202px; float: left; padding: 10px 0px 10px 30px;font-size:20px;"></td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeed.RequirementTotal))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeed.EstimateTotal))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 30px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeed.FundBalanceTotal))
                                </td>
                                <td style="width: 202px; text-align: right; float: left; padding: 10px 60px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objFinancialNeed.GapTotal))
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 20px auto;">
                        <tbody>
                            <tr style="padding: 10px; color: #fff; font-size: 18px; margin-bottom: 10px;">
                                <td style="width: 250px; display:flex; float: left; background-color: #d11144; padding: 10px; margin-bottom: 10px;font-size:21px;font-weight: bold">Summary of Financial Gap</td>
                            </tr>

                            <tr style="background-color: #c2c2c2; margin-top: 10px;">
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;"></td>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Lump sum requirement any given time (LKR)</td>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Lump sum requirement at Maturity (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Protect your wealth</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.WealthRequirement))
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Protect Your Monthly Income(living Expenses)</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.LivingExpense))
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size:20px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Protect Your Dream(Finanacial Obligations)</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.FinancialExpense))
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.FinancialExpense2017))
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px; font-weight:bold;">Total</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalExpense))
                               
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px; font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalExpense2017))
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 20px auto;">
                        <tbody>

                            <tr style="background-color: #c2c2c2; margin-top: 10px;">
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Existing Policy</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 80px 10px 30px;font-size:20px;">Emergency Funds requirement Due to Death or Permeant Disability (LKR)</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">Maturity Funds (LKR)</td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;">Existing Policy</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalEmergencyFund))
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.TotalMaturityFund))
                                
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;font-size:20px;font-weight:bold;">Gap</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.EmergencyFundGap))
                                
                                </td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;font-size:20px;font-weight:bold;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.MaturityFundGap))
                                
                                </td>
                            </tr>

                            @*<tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;">Protect Your Dream(Finanacial Obligations)</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;">@Model.objNeedAnalysis.TotalExpense</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;">@Model.objNeedAnalysis.TotalExpense</td>
                            </tr>

                            <tr>
                                <td style="width: 404px; float: left; padding: 10px 0px 10px 30px;">Total</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;">@Model.objNeedAnalysis.TotalExpense</td>
                                <td style="width: 404px; text-align: right; float: left; padding: 10px 100px 10px 30px;">@Model.objNeedAnalysis.TotalExpense</td>
                            </tr>*@
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<script>
    $(document).ready(function () {
        var Salutation = $('#txtSalutation').val();
        var FirstName = $('#txtName').val();
        FirstName = Capitalizing(FirstName);
        var LastName = $('#txtLastName').val();
        LastName = Capitalizing(LastName);
        $('#PDFName').text(Salutation+" "+FirstName + " " + LastName);
        $('#PDFAddress').val($('#txtAddress').val() + " , " + $('#txtCity').val() + " , " + $('#txtDistrict').val() + " , " + $('#txtState').val());
        var dt = new Date();
        var utc = dt.getTime() + (dt.getTimezoneOffset() * 60000);
        var nd = new Date(utc + (3600000 * +5.5));
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var minutes = (nd.getMinutes() < 10 ? '0' : '') + nd.getMinutes()
        var time = nd.getDate() + " " + monthNames[nd.getMonth()] + " " + nd.getFullYear() + " " + nd.getHours() + ":" + minutes;
        $('#txtTime').text(time);
    });
    function Capitalizing(str) {
        str = str.toLowerCase().replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase();
        });
        return str;
    }
</script>    