@model  AIA.Life.Models.Opportunity.Prospect
@using AIA.Presentation.Helpers
@using AIAResources;
@using System.Globalization;
@{
    ViewBag.Title = "HealthCalcReport";
    Layout = null;
}
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>*@
<link rel="stylesheet" href="~/Content/Styles/BootSideMenu.css">
@*<script src="~/Content/Scripts/BootSideMenu.js"></script>*@
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>*@
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">*@
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.css" />*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.js"></script>*@
<script src="~/Content/Scripts/jspdf.min.js"></script>
<script src="~/Content/Scripts/jquery-2.2.4.min.js"></script>
<script src="~/Content/Scripts/bootstrap.min.js"></script>
<link href="~/Content/Scripts/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/Scripts/chosen.css" rel="stylesheet" />
<script src="~/Content/Scripts/chosen.jquery.js"></script>
<script src="~/Scripts/SuspectScript/Suspectscript.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
@Html.HiddenFor(x => x.Salutation, new { @id = "txtSalutation" })
@Html.HiddenFor(x => x.LastName, new { @id = "txtLastName" })
@Html.HiddenFor(a => a.Name, new { @id = "txtName" })
@Html.HiddenFor(a => a.objAddress.Address1, new { @id = "txtAddress" })
@Html.HiddenFor(a => a.objAddress.State, new { @id = "txtState" })
@Html.HiddenFor(a => a.objAddress.District, new { @id = "txtDistrict" })
@Html.HiddenFor(a => a.objAddress.City, new { @id = "txtCity" })
<div class="clearfix"></div>
@*<head>
        <title>Health Fund Analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>*@
@*<div>

        <img src="~/Content/Images/AIA Pdf image.jpg" style="width:1000px; margin-bottom:5px" />
    </div>*@
<body style="font-family: AIA Everest;">
    <table>
        <tbody>
            <tr>
                <td>
                    <table style="background-color: #c31433; width: 1349px; height: 200px;">
                        <tbody style="width: 810px; float: left; padding: 32px 0px 0px 40px;">
                            <tr>
                                <td>
                                    <img src="~/Content/Images/iNubeLogo.png" />
                                </td>
                            </tr>
                        </tbody>

                        <tbody style="width: 526px; float: right; color: #fff; font-size: 18px; padding: 15px 0px;">
                            <tr>
                                <td>
                                    iNube Software Solutions<br />
                                    #31, 2nd Floor Kothanur Main Road,<br />
                                    RBI Layout J.P.Nagar, 7th phase,<br />
                                    Bengaluru, Karnataka 560078
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="text-align: center; font-size: 25px; font-weight: bold; padding: 10px; color: #000;">Saving Fund Analysis of <label type="label" id="PDFName"> </label></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 0px auto;">
                        <tbody style="background-color: #e5f7fd;">

                            <!--1st Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px; ">Age at Next Birthday</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Wealth Planner Name</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">Date/Time</td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;">@Model.AgeNextBdy</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;">@Model.CreatedBy</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;"><label id="txtTime"></label></td>
                            </tr>

                            <!--2nd Row-->
                            <tr>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">WP Agent Code</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;">WP Contact Number</td>
                                <td style="width: 400px; float: left; padding: 10px 0px 0px 30px;font-size: 20px;"></td>
                            </tr>

                            <tr>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;">@Model.WPCode</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;">@Model.WPPhone</td>
                                <td style="width: 400px; float: left; padding: 0px 0px 0px 30px;font-size: 20px;font-weight: bold;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table style="width: 1214px; margin: 20px auto;">
                        <tbody>
                            <tr style="background-color: #c2c2c2; margin-top: 10px;">
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Type</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Beneficiary</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Age at next Birthday</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Current Requirement </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Age at Maturity</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Estimated Amount </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Available Fund </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;font-weight: bold;">Gap </td>
                            </tr>
                            @if (Model.objNeedAnalysis.objWedding != null && Model.objNeedAnalysis.objWedding.Count > 0)
                            {

                                for (int i = 0; i < Model.objNeedAnalysis.objWedding.Count; i++)
                                {
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">Wedding</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objWedding[i].Relationship</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objWedding[i].Age</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objWedding[i].CurrRequirement))
                                </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objWedding[i].Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objWedding[i].MaturityAge</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objWedding[i].EstAmount))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objWedding[i].AvailableFund))
                               
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objWedding[i].Gap))
                               
                                </td>
                            </tr>
                                }
                            }
                            @if (Model.objNeedAnalysis.objHouse != null && Model.objNeedAnalysis.objHouse.Count > 0)
                            {

                                for (int i = 0; i < Model.objNeedAnalysis.objHouse.Count; i++)
                                {
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">House</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objHouse[i].Relationship</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objHouse[i].Age</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objHouse[i].CurrRequirement))
                                </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objHouse[i].Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objHouse[i].MaturityAge</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objHouse[i].EstAmount))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objHouse[i].AvailableFund))
                                
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objHouse[i].Gap))
                                
                                </td>
                            </tr>
                                }
                            }
                            @if (Model.objNeedAnalysis.objCar != null && Model.objNeedAnalysis.objCar.Count > 0)
                            {

                                for (int i = 0; i < Model.objNeedAnalysis.objCar.Count; i++)
                                {
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">Buy a Car</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objCar[i].Relationship</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objCar[i].Age</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objCar[i].CurrRequirement))
                                
                                </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objCar[i].Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objCar[i].MaturityAge</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objCar[i].EstAmount))
                                
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objCar[i].AvailableFund))
                                
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objCar[i].Gap))
                                
                                </td>
                            </tr>
                                }
                            }
                            @if (Model.objNeedAnalysis.objForeignTour != null && Model.objNeedAnalysis.objForeignTour.Count > 0)
                            {

                                for (int i = 0; i < Model.objNeedAnalysis.objForeignTour.Count; i++)
                                {
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">Foreign Tours</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objForeignTour[i].Relationship</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objForeignTour[i].Age</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objForeignTour[i].CurrRequirement))
                                
                                </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objForeignTour[i].Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objForeignTour[i].MaturityAge</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objForeignTour[i].EstAmount))
                                
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objForeignTour[i].AvailableFund))
                                
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objForeignTour[i].Gap))
                                
                                </td>
                            </tr>
                                }
                            }
                            @if (Model.objNeedAnalysis.objOthers != null && Model.objNeedAnalysis.objOthers.Count > 0)
                            {

                                for (int i = 0; i < Model.objNeedAnalysis.objOthers.Count; i++)
                                {
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">Others</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objOthers[i].Relationship</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objOthers[i].Age</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objOthers[i].CurrRequirement))
                                </td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objOthers[i].Term</td>
                                <td style="width: 134px; float: left; padding: 10px 0px 10px 30px;font-size: 20px;">@Model.objNeedAnalysis.objOthers[i].MaturityAge</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objOthers[i].EstAmount))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objOthers[i].AvailableFund))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.objOthers[i].Gap))
                                </td>
                            </tr>
                                }
                            }
                            <tr>
                                <td style="width: 134px; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">Total</td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;"></td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;"></td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.SavingReqTotal))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;"></td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;"></td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.SavingEstTotal))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.SavingCurrentTotal))
                                </td>
                                <td style="width: 134px; text-align: right; float: left; padding: 10px 20px 10px 30px;font-size: 20px;">
                                    @string.Format(CultureInfo.GetCultureInfo(1033), "{0:n0}", Convert.ToInt64(@Model.objNeedAnalysis.SavingGapTotal))
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
<script>
    $(document).ready(function () {
        var Salutation = $('#txtSalutation').val();
        var FirstName = $('#txtName').val();
        FirstName = Capitalizing(FirstName);
        var LastName = $('#txtLastName').val();
        LastName = Capitalizing(LastName);
        $('#PDFName').text(Salutation+" "+FirstName + " " + LastName);
        $('#PDFAddress').val($('#txtAddress').val() + " , " + $('#txtCity').val() + " , " + $('#txtDistrict').val() + " , " + $('#txtState').val());
        var dt = new Date();
        var utc = dt.getTime() + (dt.getTimezoneOffset() * 60000);
        var nd = new Date(utc + (3600000 * +5.5));
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var minutes = (nd.getMinutes() < 10 ? '0' : '') + nd.getMinutes()
        var time = nd.getDate() + " " + monthNames[nd.getMonth()] + " " + nd.getFullYear() + " " + nd.getHours() + ":" + minutes;
        $('#txtTime').text(time);
    });
    function Capitalizing(str) {
        str = str.toLowerCase().replace(/\b[a-z]/g, function (letter) {
            return letter.toUpperCase();
        });
        return str;
    }
</script>