
@model AIA.Life.Models.Allocation.AllocationModel
@using AIA.Presentation.Helpers
@using AIAResources;
@{ }

<style>
    

    .allocate-heading {
        background-color: #C36418;
        width: 10%;
        padding: 7px;
        color: #fff;
    }
</style>
<h3 class="allocate-heading">Allocation Summary</h3>

<div class="clearfix"></div>

@if (Model.objAllocationSummary != null)
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="font-weight: bold">@Resources.GetLabelName("Under Writer Name")</th>
                    <th style="font-weight: bold">@Resources.GetLabelName("Channel Name")</th>
                    <th style="font-weight: bold">@Resources.GetLabelName("Proposal Count")</th>

                </tr>
            </thead>
            <tbody>

                @if (Model.objAllocationSummary != null)
        {
            for (int i = 0; i < Model.objAllocationSummary.Count(); i++)
            {

        <tr>
            <td>
                @Model.objAllocationSummary[i].LoginId

            </td>
            <td>
                @Model.objAllocationSummary[i].ChannelName

            </td>
            <td>
                @Model.objAllocationSummary[i].AllocationCount

            </td>
        </tr>

            }
        }


            </tbody>

        </table>
    </div>
}

else
{
<div>
    <p>
      Something went wrong!!
    </p>
</div>
}