@model AIA.Life.Models.Hierarchy.HierarchyData
@using AIA.Presentation.Helpers
@using GridMvc.Html
@{

}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i style="color: white;"></i>
            <a data-toggle="collapse" data-target="#collapse28" href="#collapseTweentyEighteen" id="pnlPointOfContact" class="collapsed">
                <img style="float: right;" src="~/Content/Images/portlet-expand-icon-white.png">
                Point Of Contact
            </a>
        </h4>
    </div>
    <div id="collapse28" class="panel-collapse in">
        <div class="panel-body">
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divMiddleName">
                    <div class="form-group">
                        <label>Position</label>
                        @Html.TextBoxFor(a => a.Position, new { @class = "form-control", @id = "txtPrincipalPosition", @maxlength = "120" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divSalutation">
                    <div class="form-group">
                        <label>Salutation<span class="mandatory">*</span></label>
                        @Html.DropDownListFor(a => a.Salutation, new SelectList("", "", ""), "Select", new { @id = "ddlPrincipalSalutation", @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divFirstName">
                    <div class="form-group">
                        <label>First Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(a => a.Firstname, new { @class = "form-control", @id = "txtPrincipalFirstName", @onkeypress = "return onlyAlphabets(event)", @onblur = "validateTextBox('txtPrincipalFirstName','please provide First Name ')", @maxlength = "60" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divMiddleName">
                    <div class="form-group">
                        <label>Middle Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(a => a.Middlename, new { @id = "txtPrincipalMiddleName", @class = "form-control", @onkeypress = "return onlyAlphabets(event)", @onblur = "validateTextBox('txtPrincipalLastName','please provide Last Name ')", @maxlength = "60" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divLastName">
                    <div class="form-group">
                        <label>Last Name<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(a => a.Lastname, new { @id = "txtPrincipalLastName", @class = "form-control", @onkeypress = "return onlyAlphabets(event)", @onblur = "validateTextBox('txtPrincipalLastName','please provide Last Name ')", @maxlength = "60" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divSLIIRegNo">
                    <div class="form-group">
                        <label>SLII Reg No<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(a => a.SLIIRegNo, new { @id = "txtSLIIRegNo", @class = "form-control", @maxlength = "20" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divMobileno">
                    <div class="form-group">
                        <label>Mobile 1<span class="mandatory">*</span></label>
                        @Html.TextBoxFor(a => a.Mobile1, new { @class = "form-control", @id = "txtPrincipalMobileNo1", @maxlength = "60" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divAltMobileno">
                    <div class="form-group">
                        <label>Mobile 2</label>
                        @Html.TextBoxFor(a => a.Mobile2, new { @class = "form-control", @id = "txtAltPrincipalMobileNo2", @maxlength = "60" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divOfficephone">
                    <div class="form-group">
                        <label>Office Phone</label>
                        @Html.TextBoxFor(a => a.OfficePhone, new { @class = "form-control", @id = "txtPrincipalOfficePhone", @maxlength = "15" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divOfficephone">
                    <div class="form-group">
                        <label>Residence Phone</label>
                        @Html.TextBoxFor(a => a.ResidencePhone, new { @class = "form-control", @id = "txtPrincipalResidencePhone", @maxlength = "15" })
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4" id="divEmail">
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @id = "txtPrincipalEmailId", @maxlength = "120" })
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="grdPointOfContactsDetails">
                <div class="col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:2%">
                    <div style="margin:3% 2% 0% 0%; padding:1% 3% 1% 3%;" class="btn btn-default" onclick="AddRow()" id="addRow" type="button">Add</div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-bottom:3%">
                    @Html.Partial("~/Views/Hierarchy/PartialHierarchyPointOfContactGrid.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <br />
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
        <div class="form-group">
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
        <div class="form-group">
            <input type="button" value="Save" id="btnSavePrincipalDetails" class="btn btn-default" style="width:100px">
            <input type="button" value="Cancel" id="btnCancelPrincipalDetails" class="btn btn-default" style="width:100px" onclick="return location.reload()">
        </div>
    </div>
</div>
