
@model AIA.Life.Models.UWRules.UWRule
@using AIA.Presentation.Helpers
@{
    ViewBag.Title = "SetRule";
}




@using (Html.BeginForm("", "", FormMethod.Post, new { id = "fromSetRulesPage" }))
{
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">


        <div class="panel panel-default">
            <div class="panel-heading backgroundclr" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Create Rule
                        <img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                      
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label>RuleSet Name</label>
                           @Html.DropDownListFor(m => m.RuleName, new SelectList(Model.LstRuleName, "ID", "Value"), "Select", new { @class = "form-control", @id = "ddlRuleName" ,@onchange="GetRuleParameters()"})
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label for="usr">Rule Name</label>
                            @Html.TextBoxFor(a => a.RuleSetName, new { id = "txtRuleSetName", @class = "form-control" })
                        </div>


                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label>Description</label>
                            @Html.TextBoxFor(a => a.Description, new { @id = "txtDescription", @class = "form-control" })

                        </div>


                   

                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="margin-bottom:2%">
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label for="usr">Sequence</label>
                            @Html.TextBoxFor(a => a.RuleSetPriority, new { id = "txtRuleSetPriority", @class = "form-control" })


                        </div>
                       
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label>Effective Date</label>
                            @Html.iNubeDatePickerFor(a => a.EffectDate, new { @id = "DTEffectiveDate", @class = "form-control" })
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label>Expiry Date</label>
                            @Html.iNubeDatePickerFor(a => a.ExpiryDate, new { @id = "DTExpiryDate", @class = "form-control" })
                        </div>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">

                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label>Action</label>
                            @Html.DropDownListFor(m => m.RuleOutCome, new SelectList(Model.LstRuleOutCome, "ID", "Value"), "Select", new { @class = "form-control", @id = "ddlRuleOutCome"})
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label for="usr"></label>
                            
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 form-group">
                            <label for="usr"></label>
                            


                        </div>

                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12"  id="DivParameters" style="margin-top:3%">

                    </div>


                </div>

                <div class="col-md-12 col-sm-12  col-lg-12 form-group" style="text-align: center;margin-top: 20px;display:block" id="divButtons">

                    <input type="button" class="btn btn-default" id="btnSave" value="Save" onclick="SubmitSetRuleInfo()" style="padding-left:20px;padding-right:20px;" />
                </div>
            </div>
        </div>

    </div>

}
<!-- Modal -->
<div class="modal fade" id="QuoteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="QuoteModalBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function SetParameterType() {
        $('#ddlParameterType').val($('#ddlParameter').val());

        //if ($("#ddlParameterType option:selected").text() == 'ListOfValue')
        //{
        //    $('#DivSting').hide();
        //    $('#DivDate').hide();
        //    $('#DivNumeric').hide();
        //    $('#DivList').show();

        //}
        //else if ($("#ddlParameterType option:selected").text() == 'String')
        //{
        //    $('#DivSting').show();
        //    $('#DivDate').hide();
        //    $('#DivNumeric').hide();
        //    $('#DivList').hide();
        //}
        //else if ($("#ddlParameterType option:selected").text() == 'Numeric')
        //{
        //    $('#DivSting').hide();
        //    $('#DivDate').hide();
        //    $('#DivNumeric').show();
        //    $('#DivList').hide();

        //}
        //else if( $("#ddlParameterType option:selected").text()=='Date')
        //{
        //    $('#DivSting').hide();
        //    $('#DivDate').show();
        //    $('#DivNumeric').hide();
        //    $('#DivList').hide();
        //}


    }
    function GetRuleParameters() {
        
     var RuleID=  parseInt( $('#ddlRuleName').val());
     $.get("/Rule/FetchRuleParameters?RuleID=" + RuleID, function (data) {
         $('#DivParameters').html('');
         $('#DivParameters').html(data);
        });
    }
    function SubmitSetRuleInfo() {
        $.post("/Rule/SaveSetRuleInfo", $("#fromSetRulesPage").serialize(), function (data) {
            if (data.Message == 'Success') {

                var Message = '<p> Data Saved Successfully </p>';
                $('#QuoteModalBody').html(Message);

                $("#QuoteModal").modal("show");

            }
            else {

                var Message = '<p> Some Error Occured</p>';
                $('#QuoteModalBody').html(Message);
                $("#QuoteModal").modal("show");
            }
        });
    }
</script>