@model AIA.Life.Models.Integration.Payment.PaymentServiceModel
@using AIA.Presentation.Helpers
@using AIAResources;
@{
    ViewBag.Title = "PaymentPolicyView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<script src="~/Scripts/gridmvc.min.js"></script>
<script src="~/Scripts/gridmvc-ext.js"></script>
<script src="~/Scripts/gridmvc.lang.fr.js"></script>
<script src="~/Scripts/gridmvc.lang.ru.js"></script>
<script src="~/Scripts/gridmvc.customwidgets.js"></script>
<script src="~/Scripts/URI.js"></script>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default" id="pnlAllPolicies">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse1" href="#collapseThree" class="collapsed">
                    @Resources.GetLabelName("All Policies")<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body"  id="RenewedPoliciesGrid">
                @*@Html.Partial("~/Views/Payment/PartailRenewedAllPolicies.cshtml", Model)*@
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default" id="pnlInforcePolicies">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse2" href="#collapseThree" class="collapsed">
                    @Resources.GetLabelName("Inforce Policies")<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body" id="RenewedInforcePoliciesGrid">
                @*@Html.Partial("~/Views/Payment/PartailRenewedInforcePolicies.cshtml", Model)*@
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default" id="pnlPoliciesinGracePeriod">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse3" href="#collapseThree" class="collapsed">
                    @Resources.GetLabelName("Policies in Grace Period")<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body" id="RenewedPoliciesinGracePeriod">
                @*@Html.Partial("~/Views/Payment/PartailRenewedPoliciesinGracePeriod.cshtml", Model)*@
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default" id="pnlMyCollectionRenewedPolicies">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse4" href="#collapseThree" class="collapsed">
                    @Resources.GetLabelName("Running Lapse Policies")<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body" id="RenewedRunningLapsePolicies">
                @*@Html.Partial("~/Views/Payment/PartailRenewedRunningLapsePolicies.cshtml", Model)*@
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default" id="pnlMyCollectionRenewedPolicies">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#collapse5" href="#collapseThree" class="collapsed">
                    @Resources.GetLabelName("Lapsed Policies")<img src="~/Content/Images/portlet-expand-icon-white.png" style="float: right;" />
                </a>
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body" id="RenewedLapsedPolicies">
                @*@Html.Partial("~/Views/Payment/PartailRenewedLapsedPolicies.cshtml", Model)*@
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12  col-lg-12 form-group" style="text-align:center;margin-left:20px">
    <input type="button" class="btn btn-default" id="" value="Proceed To Payment" style="padding-left:20px;padding-right:20px;" />
    <input type="button" class="btn btn-default" id="" value="Cancel" onclick="CancelReturns()" style="padding-left:20px;padding-right:20px;" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.post("../Payment/PaymentRenewedPolicyView", function (data) {
            $("#RenewedPoliciesGrid").html(data);
        })
        $.post("../Payment/PaymentRenewedInforcePolicyView", function (data) {
            $("#RenewedInforcePoliciesGrid").html(data);
        })

        $.post("../Payment/PaymentRenewedPoliciesinGracePeriodView", function (data) {
            $("#RenewedPoliciesinGracePeriod").html(data);
        })

        $.post("../Payment/PaymentRenewedRunningLapsePoliciesView", function (data) {
            $("#RenewedRunningLapsePolicies").html(data);
        })

        $.post("../Payment/PaymentRenewedLapsedPoliciesView", function (data) {
            $("#RenewedLapsedPolicies").html(data);
        })
    });
    function CancelReturns() {
        window.location.href = "/Payment/RenewalPayment";
    };
</script>