@model gateway_client_csharp.au.com.gateway.client.payment.PaymentCompleteRequest
@{
    Layout = null;
}
@Styles.Render("~/Content/JSStyles")
@Styles.Render("~/Content/JSLayout")
@Scripts.Render("~/bundles/Scripts")
@Scripts.Render("~/bundles/amcharts")
@Scripts.Render("~/bundles/MvcAjaxScript")
@using (Html.BeginForm("ProcessSampathBankResponse", "Payment", FormMethod.Post, new { id = "frmPaymentPage" }))
{
    @Html.HiddenFor(a => a.reqid)

    <center>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img src="~/Content/Images/AIA-loader-4 (1).gif" style="height:200px;" />
            <h2 style="font-weight:900;">Your transaction is processing...</h2>
        </div>

    </center>
}

<script>
    $(document).ready(function () {
        $('#frmPaymentPage').submit();
    });
</script>


